body{
    background-color: aqua;
}
 @media only screen and (max-width : 455px){

body{

    background-color: blue;
}
    
 }
 .boxes{
    flex-direction: column;
 }
.boxes{
 display: flex;
}


.box{
    width: 344px;
    height: 344px;
    background-color: steelblue;
    padding: 3px;
    margin: 3px;
}


