h1{
    background-color: rgb(185, 88, 88);
    color: blanchedalmond;
    font-size: larger;
    font-family: sans-serif;
}
div{
 color: aqua;  
  background-color: bisque;
  font-size: large;
  font-family: monospace;
}