
.container{
    width: 56vw;
    height: 100vh;
    border: 3px solid black;
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    background-color: black;
    color: white;
}
.box1{
    height: 40vh;
    width: 13vw;
    border: 3px solid black;
    text-align: center;
    border-style: hidden;
}
.image5{
    height: 40vh;
    width: 13vw;
}
.box2{
    height:40vh;
    width: 13vw;
    border: 3px solid black;
    text-align: center;
    border-style: hidden;
}
.image8{
    height: 40vh;
    width: 13vw;
}
.box3{
    height: 40vh;
    width: 13vw;
    border: 3px solid black;
    text-align: center;
    border-style: hidden;
}
.image6{
    height: 40vh;
    width: 13vw;
}
.box4{
    height: 40vh;
    width: 13vw;
    border: 3px solid black;
    text-align: center;
    border-style: hidden;

}
.image7{
    height: 40vh;
    width: 13vw;
}
*{
    margin: 0;
    padding: 0;
}