.container{
border: 2px solid black;
display: flex;
height: 80vh;
justify-content: center;
align-items: center;
flex-direction: row;
}
.item{
    height: 95px;
    width: 95px;
    background-color: red;
    border: 2px solid black;
    margin: 4px;
    color: aliceblue;
    text-align: center;

}
.order-1{
    order: 1;
}
.order-2{
    order: 2;
}.order-3{
    order: 3;
}
.item1{
    /* flex-grow: 2; */
    flex-shrink: 2;
    align-self: flex-start;
}