h1{
    text-align: center;
    color: rgb(33, 28, 77);
    font-family: serif;
    font-size: larger;
    
}

label{
    color: rgb(43, 44, 40);
}
input{
    color: rgb(66, 51, 51);
}
input type{
    color: aqua;
}
body{
    background-color: white;
}
h2{
    font-family: Arial, Helvetica, sans-serif;

}
h3{
    font-size: medium;
    font-style: inherit;
    font-family: 'Times New Roman', Times, serif;
}
h4{
    font-size: large;
    
}
